@font-face {
    font-family: "Akira-font", sans-serif;
    src: url(../assets/fonts/Akira\ Expanded\ Super\ Bold.ttf);
}

:root {
    --transparent-white: rgba(255, 255, 255, 0.16);
    --transparent-white-border: rgba(255, 255, 255, 0.26);
    --yellow-color: #f2ff00;
    --black-color: #000000;
    --white-color: #ffffff;
    --login-bg-color: rgba(255, 247, 0, 0.1);
    --text-color-50: #ffffff80;
}

/* Banner Section */

.bnr-sec {
    background: url(../assets/1.\ Hero\ Section.png) no-repeat center/cover;

}

.title-1 {
    text-align: center;
}

.hero-line {
    text-align: center;
}

.yellow-line {
    width: 24px;
    height: 59px;
    background-color: var(--yellow-color);
    display: inline-block;
    transform: skew(-30deg);
}

.yellow-line {
    margin-right: 10px;
}

.yellow-line:last-child {
    margin-right: 0;
}

.breadcrumb {
    margin: 40px;
    justify-content: center;
    align-items: center;
}


.breadcrumb-link {
    color: var(--white-color);
    font-family: "Akira-font", sans-serif;
    font-size: 16px;
    font-weight: 900;
}

.breadcrumb-item+.breadcrumb-item::before {
    width: 8px;
    height: 8px;
    background-color: var(--yellow-color);
    content: "";
    display: inline-block;
    float: none;
    margin-right: 5px;
}

.breadcrumb-item.active {
    color: var(--yellow-color);
}