@font-face {
    font-family: "Akira-font", sans-serif;
    src: url(../assets/fonts/Akira\ Expanded\ Super\ Bold.ttf);
}

:root {
    --transparent-white: rgba(255, 255, 255, 0.16);
    --transparent-white-border: rgba(255, 255, 255, 0.26);
    --yellow-color: #f2ff00;
    --black-color: #000000;
    --white-color: #ffffff;
    --login-bg-color: rgba(255, 247, 0, 0.1);
    --text-color-50: #ffffff80;
}

a {
    display: inline-block;
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0 !important;
    margin: 0 !important;
}


body,
html {
    font-family: "Clash Display", sans-serif;
    overflow-x: hidden;
}

p,
figure {
    padding: 0 !important;
    margin: 0 !important;
}

h1,
h2,
h3 {
    font-family: "Akira-font", sans-serif;
}

/* Header Section */
.hdr-sec {
    position: absolute;
    top: 0;
    width: 100%;
}

.hdr-container {
    max-width: 1840px;
}

.navbar-brand {
    max-width: 172px;
}

.navbar-brand>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navbar-nav {
    background: var(--transparent-white);
    backdrop-filter: blur(13px);
    border-radius: 56px;
    border: 1px solid var(--transparent-white-border);
    padding: 0 5px;
}

.nav-link {
    padding: 10px 20px !important;
    color: var(--white-color);
    transition: all 0.5s ease-in;

    &:hover {
        background-color: var(--black-color);
        border-radius: 56px;
        color: var(--white-color);
    }
}

.nav-item:last-child {
    margin-right: 20px;
}

.nav-link.active {
    background-color: var(--yellow-color);
    padding: 10px 20px !important;
    border-radius: 110px;
    color: var(--black-color);
}

.search-group {
    display: flex;
    align-items: center;
    max-width: 370px;
    background-color: var(--black-color);
    border: 2px solid transparent;
    color: white;
    border-radius: 74px;
    cursor: pointer;
    padding: 10px 15px;
}

.input {
    width: 200%;
    border: none;
    outline: none;
    background: none;
    transition: 0.3s ease;
    font-size: 16px;
    color: white;
}

.input::placeholder {
    color: #9e9ea7;
}

.fa-magnifying-glass {
    font-size: 16px;
    margin-right: 5px;
}

.cart-link {
    max-width: 64px;
    height: 64px;
    border-radius: 50%;
}

.cart-link>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.login {
    display: flex;
    align-items: center;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: bolder;
    margin-left: 12px;
    padding: 10px;
    background: var(--login-bg-color);
    backdrop-filter: blur(5px);
    border: 3px solid yellow;
    border-radius: 1em;
    color: var(--yellow-color);
    transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.4s;
    box-shadow: -5px 5px 0px 0px yellow;

    &:hover {
        transform: translate(5px, -5px);
    }
}

.login-click {
    max-width: 37px;
    margin-left: 10px;
}

.login-click>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navbar-toggler-icon {
    font-size: 20px;
    border-radius: 20%;
    border: none;
    outline: none;
    background-image: none;
}

.navbar-toggler {
    padding: 0;
    border: none;
    outline: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.offcanvas {
    flex-direction: row;
    align-items: center;
}

.btn-close {
    font-size: 20px;
    background: none;
    color: var(--tertiary-color);
}

/* Banner Section */

.bnr-sec {
    background: url(../assets/bg-img.png) no-repeat center/cover;
    padding: 495.13px 0 122px;
    display: flex;
    align-items: end;
    background-attachment: fixed;

}

.bnr-row {
    align-items: center;
}

.para {
    font-size: 27px;
    font-weight: 500;
}

.bnr-cntn {
    max-width: 600px;
}

.bnr-para {
    background: linear-gradient(to right, #fff, #6e6e6e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.gym-img {
    max-width: 98px;
    display: flex;
    align-items: center;
    margin: 40px 0;
}

.gym-img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gym-img>img:nth-child(2) {
    transform: translateX(-25px);
}

.gym-img>img:nth-child(3) {
    transform: translateX(-55px);
}

.gym-img>img:nth-child(4) {
    transform: translateX(-85px);
}

.para-box {
    max-width: 300px;
}

.para-hdr {
    -webkit-text-fill-color: var(--yellow-color);
}

.loader {
    --ANIMATION-DELAY-MULTIPLIER: 100ms;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
}

.loader span {
    padding: 0;
    margin: 0;
    letter-spacing: -5rem;
    animation-delay: 0s;
    transform: translateY(4rem);
    animation: hideAndSeek 1s alternate infinite cubic-bezier(0.86, 0, 0.07, 1);
    font-size: 27px;
    color: var(--white-color);
}

.loader>hr {
    width: 2px;
    height: 33px;
    background-color: var(--white-color);
}

.loader .s {
    animation-delay: calc(var(--ANIMATION-DELAY-MULTIPLIER) * 0);
}

.loader .c {
    animation-delay: calc(var(--ANIMATION-DELAY-MULTIPLIER) * 1);
}

.loader .r {
    animation-delay: calc(var(--ANIMATION-DELAY-MULTIPLIER) * 2);
}

.loader .o {
    animation-delay: calc(var(--ANIMATION-DELAY-MULTIPLIER) * 3);
}

.loader .l {
    animation-delay: calc(var(--ANIMATION-DELAY-MULTIPLIER) * 4);
}

.loader .l2 {
    animation-delay: calc(var(--ANIMATION-DELAY-MULTIPLIER) * 5);
}

.letter {
    width: fit-content;
    height: 3rem;
}

.i {
    margin-inline: 5px;
}

@keyframes hideAndSeek {
    0% {
        transform: translateY(4rem);
    }

    100% {
        transform: translateY(0rem);
    }
}

.bnr-hdr {
    max-width: 1220px;
}

.title-1 {
    font-size: 141px;
    font-family: "Akira-font", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--white-color);
    position: relative;
}

.title1-span {
    color: var(--yellow-color);
}

.bnr-line {
    width: 148px;
    display: inline-block;
    position: absolute;
    top: 52%;
}

.bnr-line>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bnr-btn {
    width: 310px;
    height: 56px;
    overflow: hidden;
    border: none;
    color: #fff;
    background: none;
    position: relative;
    padding-bottom: 2em;
    cursor: pointer;
}

.bnr-btn>.visit-div,
.bnr-btn>.visit-svg {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
}

.bnr-btn:before {
    content: "";
    position: absolute;
    height: 2px;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: scaleX(0);
    transform-origin: bottom right;
    background: currentColor;
    transition: transform 0.25s ease-out;
}

.bnr-btn:hover:before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.bnr-btn .clone>*,
.bnr-btn .text>* {
    opacity: 1;
    font-size: 33px;
    transition: 0.2s;
    margin-left: 4px;
    text-transform: capitalize;
}

.bnr-btn .clone>* {
    transform: translateY(60px);
}

.bnr-btn:hover .clone>* {
    opacity: 1;
    transform: translateY(0px);
    transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.bnr-btn:hover .text>* {
    opacity: 1;
    transform: translateY(-60px);
    transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.bnr-btn:hover .clone> :nth-child(1) {
    transition-delay: 0.15s;
}

.bnr-btn:hover .clone> :nth-child(2) {
    transition-delay: 0.2s;
}

.bnr-btn:hover .clone> :nth-child(3) {
    transition-delay: 0.25s;
}

.bnr-btn:hover .clone> :nth-child(4) {
    transition-delay: 0.3s;
}

.bnr-btn .visit-svg {
    width: 20px;
    right: 0;
    top: 50%;
    transform: translateY(-50%) rotate(-50deg);
    transition: 0.2s ease-out;
}

.bnr-btn:hover svg {
    transform: translateY(-50%) rotate(-90deg);
}

.visit-btn {
    margin-top: 50px;
}

/* Fitness Card Section */

.fitnessCard-sec {
    background: var(--black-color);

}

.swiper {
    overflow: visible;
}


.card-container {
    max-width: 1940px;
    padding: 0;
}

.fitness-slider {
    padding: 24px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.card-swipe {
    max-width: 592px;
    padding: 50px;
    position: relative;

}

.card-swipe1 {
    background: url(../assets/card-bg1.png) no-repeat center/cover;

}

.card-swipe2 {

    background: url(../assets/card-bg2.png) no-repeat center/cover;
}

.card-swipe3 {
    background: url(../assets/card-bg3.png) no-repeat center/cover;

}

.frame-line {
    max-width: 60px;
}

.frame-line>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.title-2 {
    font-size: 25px;
    font-weight: 600;
    color: var(--white-color);
    text-transform: uppercase;
    margin-top: 10px;
}

.number {
    font-family: "Akira-font", sans-serif;
    font-size: 139px;
    font-weight: 900;
    color: transparent;
    -webkit-text-stroke: 2px var(--text-color-50);
    letter-spacing: -10px;
    margin: 0 !important;

}

.card-img {
    width: 196px;
    position: absolute;
    right: 10px;
    bottom: 20px;
    transform: scale(1.1);
}


.card-img2 {
    width: 211px;
    position: absolute;
    right: 0px;
    bottom: 20px;
    transform: scale(1.1);
}


.card-img3 {
    width: 485px;
    position: absolute;
    right: -24px;
    bottom: 3px;

}

.card-img>img,
.card-img2>img,
.card-img3>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


/* About Section */
.abt-sec {
    padding: 160px 0 80px;
    background-color: var(--black-color);
}

.abt-container {
    max-width: 1740px;
}


.abt-row {
    padding-bottom: 80px;
}


.abt-hdr {
    display: flex;
}

.abt-line {
    margin-left: 24px;
}

.title-3 {
    font-size: 27px;
    font-weight: 900;
    color: var(--white-color);
    text-transform: uppercase;
    position: relative;

    padding-left: 36px;

}


.title-3::before {
    content: "";
    width: 26px;
    height: 26px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 2px;
    background: transparent;
    border: 5px solid var(--yellow-color);
}


.abt-para {
    font-size: 35px;
    background: linear-gradient(to right, #fff, #1c1c1c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.abt-img {
    max-width: 675px;
    height: 491px;
}

.abt-img>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.title-4 {
    font-size: 35px;
    font-weight: 500;
    color: var(--white-color);
    font-family: "Clash Display", sans-serif;
}

.abtPara-box {
    display: flex;
    align-items: center;
    margin: 30px 0;
}

.para2 {
    font-size: 18px;
    font-weight: normal;
    color: var(--white-color);
    opacity: 0.5;
}

.cst-icon {
    padding: 12px 21px;
    background-color: var(--yellow-color);
    max-width: 99.28px;
    height: 99.28px;

}

.cst-icon>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.customer-care {
    display: flex;
}

.cst-para {
    margin-left: 24px;
    padding-top: 10.28px;
}

.support {
    color: var(--white-color);
    font-weight: 500;
}

.cst-support {
    font-size: 23px;
    text-transform: uppercase;
}

.cst-number {
    color: var(--yellow-color);
    font-size: 31px;
}


/* Service Section */

.srvc-sec {
    background-color: var(--black-color);
    padding: 80px 0;

}

.srvc-trng {
    padding: 57px 0;
    max-width: 1160px;
    margin: 0 auto;
}

.trng-link {

    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.5);

    &:hover {
        border-bottom: none;
    }
}

.trng-title,
.fa-arrow-right {
    font-size: 45px;
    font-weight: 900;
    color: var(--white-color);
    text-transform: uppercase;
}

.trng-img {
    max-width: 388px;
    transform: rotate(6deg);
    position: absolute;
    bottom: -4px;
    right: 13%;
    transition: all 0.3s ease;
}

.trng-img>img {
    width: 100%;
    height: 100%;
    object-fit: contain;

}


.fa-arrow-right {
    transition: 0.3s ease;
    position: absolute;
    bottom: 0;
    right: 8%;
}

.trng-link:before {
    content: "";
    position: absolute;
    height: 2px;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: scaleX(0);
    transform-origin: bottom right;
    background: var(--white-color);
    transition: transform 0.25s ease-out;
}

.trng-link:hover:before {
    transform: scaleX(1);
    transform-origin: bottom left;
}


.trng-link:hover .trng-img {
    transform: rotate(-7deg);
}

.trng-link:hover .fa-arrow-right {
    transform: rotate(-30deg);
}





/* Gym About Section */

.gymAbt-sec {
    background: url(../assets/gymAbtCard-bg.png) no-repeat center/cover;
    background-attachment: fixed;
    padding: 80px 0;


}

.gym-img {
    max-width: 698px;

}

.gym-img>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.gym-grid {
    display: flex;

}

.gridCard {
    max-width: 337px;
    padding: 30px;
    z-index: 1;
    position: relative;
    border: 1px solid var(--yellow-color);

}

.grid1 {
    margin-right: 24px;
}

.gridCard::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom, #F2FF00 0%, #F2FF00 100%);
    opacity: 0.3;
    z-index: -1;
}

.fa-check {
    font-size: 29px;
    color: var(--yellow-color);
}

.title-5 {
    font-size: 19px;
    font-weight: 900;
    margin: 22px 0;
}

.grid-box {
    margin: 24px 0;
}

/* Coach Section */

.coach-sec {
    background: var(--black-color);
    padding: 80px 0 160px;

}

.swiper-slide2 {
    padding: 24px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.coach-swipe {
    max-width: 592px;
    padding: 317px 24px 24px;
    position: relative;

}

.coach-swipe1 {
    background: url(../assets/coachBg1.png) no-repeat center/cover;

}

.coach-swipe2 {

    background: url(../assets/coachBg2.png) no-repeat center/cover;
}

.coach-swipe3 {
    background: url(../assets/coachBg3.png) no-repeat center/cover;

}


.coach-title {
    font-size: 16px;
    font-weight: 900;
    margin-top: 15px;
}

.coach-para {
    font-size: 42px;
    font-weight: 200;
    color: rgba(255, 255, 255, 0.5);
    text-transform: capitalize;
}



.coach-img {
    max-width: 570px;
    position: absolute;
    top: 0;
    z-index: 2;
    transform: scale(1.3);
}

.coach-img>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}



.swiper-pagination {
    bottom: -80px !important;
}

.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    border-radius: 1px;
    opacity: 1;
    background: rgba(255, 255, 255, 0.5);
}

.swiper-pagination-bullet-active {
    background: var(--yellow-color);
}


/* Plan Section */

.plan-sec {
    background-color: var(--black-color);
    padding: 80px 0;
}



.rate-card {
    background: url(../assets/rate-cardBG.png) no-repeat center/cover;
    max-width: 591px;
    padding: 24px;
    position: relative;
}

.rateCard-line {
    position: absolute;
    top: 55px;
    right: 31px;
}

.card-line {
    width: 20px;
    height: 50px;
    background-color: var(--yellow-color);
    display: block;
    transform: skew(45deg);
}


.rateCard-title {
    font-size: 16px;
    font-weight: 900;
    margin-top: 10px;
}

.amount {
    font-size: 53px;
    font-weight: 600;
    color: var(--white-color);
    margin-top: 100px !important;
}

.fa-circle-check {
    margin-right: 10px;
}

.rate-item {
    margin-top: 30px !important;
    margin-bottom: 100px !important;
}

.rateItem-list {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.5);
}

.rateItem-list:nth-child(1),
.rateItem-list:nth-child(2),
.rateItem-list:nth-child(3) {
    margin-bottom: 10px;
}



.membership-btn {
    width: 100%;
    padding: 20px 0;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--white-color);
    position: relative;
    transition: 0.5s ease;
    background: transparent;
    z-index: 1;
    border: 8px ridge var(--yellow-color);
    border-radius: 0.3em;
}


.membership-btn::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: 20%;
    background: url(../assets/rate-cardBG.png) no-repeat center/cover;
    transition: 0.5s;
    transform-origin: center;
}

.membership-btn::before {
    content: "";
    transform-origin: center;
    position: absolute;
    top: 98%;
    left: 0%;
    width: 100%;
    height: 20%;
    background: url(../assets/rate-cardBG.png) no-repeat center/cover;
    transition: 0.5s;

}

.membership-btn:hover::before,
.membership-btn:hover::after {
    transform: scale(0)
}

.membership-btn:hover {
    box-shadow: inset 0px 0px 25px var(--yellow-color);
}

/* Location Section */

.location-sec {
    padding: 80px 0;
    background: url(../assets/Rate-card.png) no-repeat center/cover;
    background-attachment: fixed;
}

.location-para {
    display: flex;
    align-items: center;
}

.cmn-para {
    font-size: 48px;

}

.para3 {
    background: linear-gradient(to right, #bfbdbdf7, rgba(0, 0, 0, 0.8));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.para3>span:nth-child(1) {
    color: var(--yellow-color);
}

.para3>span:nth-child(2) {
    color: var(--white-color);
}

.para3>span:nth-child(3) {
    color: var(--yellow-color);
}

.location-para {
    margin-top: 80px;
}

.location-row {
    margin-top: 30px;
    align-items: center;
}

.para4 {
    color: var(--yellow-color);

}

.para4>span {
    color: var(--white-color);
}

.contry-nmbr {
    font-size: 81px;
    font-weight: 700;
    color: var(--white-color);
}

.contry-nmbr>span:nth-child(1) {
    color: var(--yellow-color);
}

.cntry {
    font-size: 32px;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.5);

}

.loaction-cntn {
    padding-left: 30px;
}

.devider {
    border-right: 1px solid hsla(0, 0%, 100%, 0.5);

}

/* Map Section */

.map-sec {
    background-color: var(--black-color);
    padding: 90px 0 130px;

}

.map {
    max-width: 1400px;
    margin: 0 auto;

}

.map>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


/* Transformation Section */
.trnsfrm-sec {
    padding-top: 468px;
    background: url(../assets/body-builderBg.png);
    position: relative;
    z-index: 1;
}

.body-builder {
    max-width: 678px;
    position: absolute;
    bottom: 84px;
    right: 50%;
    transform: translateX(50%);
    z-index: -1;
}

.body-builder>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.trnsfrm-cntn {
    text-align: center;
    position: relative;
}



.line-2 {
    width: 10px;
    height: 26px;
    background-color: var(--yellow-color);
    transform: skew(-45deg);
    bottom: 162px;
    left: 46%;
    position: absolute;
}

.title-trnsfrm {
    font-size: 45px;
    font-weight: 900;
    color: var(--white-color);
}

.title-trnsfrm2 {
    font-size: 77px;
    font-weight: 900;
    color: var(--yellow-color);
}



.line-2:nth-child(2) {
    margin-left: 20px;

}

.line-2:nth-child(3) {

    margin-left: 40px;

}

.trnsfrm-box {
    max-width: 1000px;
    margin: 150px auto 0;

}




/* Responsive Section */
@media screen and (max-width: 1560px) {

    /* Header Section */
    .navbar-brand {
        max-width: 150px;
    }

    /* About Section */
    .abt-container {
        max-width: 1440px;
    }
}

@media screen and (max-width: 1200px) {

    /* Header Section */
    .offcanvas {
        background: transparent;
        backdrop-filter: blur(10px);
        flex-direction: column;
    }

    .navbar-nav {
        margin: 50px !important;
        padding: 10px 0;
    }

    .nav-link {
        color: var(--black-color);
        margin-bottom: 30px;
    }

    .search-group {
        margin-bottom: 30px;
    }

    .fa-bars,
    .fa-xmark {
        font-size: 3rem;
        color: white;
    }

    .navbar-toggler {
        padding: 0 15px;
    }

    /* Banner Section */

    .col {
        width: 100%;
        flex: none;
    }

    .bnr-cntn {
        margin: 0 auto;
        max-width: 1000px;
    }

    .bnr-hdr {
        margin: 30px 0;
        max-width: 1000px;
    }

    .title-1 {
        font-size: 100px;
    }

    .bnr-line {
        width: 109px;
        top: 53%;
    }

    .bnr-btn {
        width: 240px;
    }

    /* Fitness Card Section */
    .card-swipe {
        padding: 30px;
    }

    .card-img {
        width: 196px;
    }

    .card-img2 {
        width: 200px;
    }

    /* About Section */
    .abt-hdr {
        margin-bottom: 30px;
        justify-content: center;
    }

    .abt-para,
    .abt-cntn {
        text-align: center;
    }

    .abt-img {
        margin: 0 auto 30px !important;
    }

    .customer-care {
        justify-content: center;
    }

    /* Service Section */

    .col-3,
    .col-9 {
        width: 100%;
    }

    .srvc-hdr {
        margin-bottom: 200px;
    }

    .trng-title,
    .fa-arrow-right {
        font-size: 38px;
    }

    /* Gym About Section */
    .gym-img {
        margin: 0 auto !important;
    }

    .gym-grid {
        justify-content: center;
    }

    /* Location Section */
    .location-para {
        flex-direction: column;
    }

    .col-2,
    .col-10 {
        width: 100%;
    }

    .location-para2,
    .loaction-cntn,
    .location-para {
        text-align: center;

    }

    .loaction-cntn {
        margin-top: 20px;
    }

    .devider {
        border-right: none;
        border-bottom: 1px solid hsla(0, 0%, 100%, 0.5);
        padding-bottom: 30px;
    }

    /* Transformation Section */

    .trnsfrm-sec {
        padding-top: 252px;
    }
}

@media screen and (max-width:992px) {
    /* Service Section */

    .trng-title,
    .fa-arrow-right {
        font-size: 30px;
    }

    .trng-img {
        max-width: 306px;
    }

    /* Location Section */
    .cmn-para {
        font-size: 38px;
    }

    /* Transformation Section */
    .title-trnsfrm2 {
        font-size: 50px;
        color: var(--tertiary-color);
    }

    .title-trnsfrm {
        font-size: 30px;
    }

    .line-2 {
        bottom: 213px;
    }

    /* Transformation Section */

    .trnsfrm-sec {
        padding-top: 136px;
    }
}

@media screen and (max-width: 768px) {

    /* Banner Section */
    .title-1 {
        font-size: 60px;
    }

    .bnr-hdr {
        max-width: 635px;
    }

    .bnr-line {
        width: 73px;
    }

    /* Fitness Card Section */
    .card-img3 {
        width: 375px;
    }

    /* About Section */
    .title-4 {
        font-size: 25px;
    }

    .para2 {
        font-size: 16px;
    }

    /* Service Section */
    .trng-img {
        max-width: 240px;
    }

    .trng-title,
    .fa-arrow-right {
        font-size: 26px;
    }
}

@media screen and (max-width: 576px) {

    /* Header Section */
    .navbar-nav {
        margin: 0 !important;
    }

    .fa-bars,
    .fa-xmark {
        font-size: 2rem;
    }

    .nav-link,
    .search-group {
        margin-bottom: 15px;
    }

    .login {
        margin-top: 5px;
    }

    /* Banner Section */
    .para {
        font-size: 18px;
    }

    .title-1 {
        font-size: 40px;
    }

    .bnr-hdr {
        max-width: 290px;
    }

    .bnr-btn .clone>*,
    .bnr-btn .text>* {
        font-size: 21px;
    }

    .bnr-btn svg {
        top: 30%;
    }

    .bnr-btn {
        width: 154px;
    }

    .bnr-btn:before {
        bottom: 15px;
    }

    .bnr-line {
        width: 46px;
    }

    /* Fitness Card Section */
    .card-img3 {
        width: 310px;
    }

    /* About Section */
    .cst-icon {
        max-width: 72px;
        height: 72px;
    }

    .cst-support {
        font-size: 16px;
    }

    .cst-number {
        font-size: 19px;
    }

    .abt-sec {
        padding: 83px 0 80px;
    }

    .abt-row,
    .abt-img {
        padding: 0;
        margin: 0 !important;
    }


    .frame-line {
        max-width: 30px;
    }

    .abt-line {
        margin-left: 5px;
    }

    .title-3 {
        font-size: 17px;
        padding-left: 28px;
    }

    .title-3::before {
        width: 20px;
        height: 20px;
        border: 3px solid var(--yellow-color);
        top: -1px;

    }

    .para2 {
        font-size: 14px;
    }

    /* Service Section */
    .trng-img {
        max-width: 178px;
    }

    .trng-title,
    .fa-arrow-right {
        font-size: 15px;
    }

    .srvc-hdr {
        margin-bottom: 35px;
    }

    .srvc-sec {
        padding: 30px 0;
    }

    /* Gym About Section */
    .title-5 {
        font-size: 13px;
        margin: 13px 0;
    }

    .fa-check {
        font-size: 16px;
    }

    .gym-para {
        font-size: 16px;
    }

    .gridCard {
        padding: 20px;
    }

    /* Coach Section */
    .coach-para {
        font-size: 31px;
    }

    .swiper-pagination-bullet {
        width: 15px;
        height: 15px;
    }

    .coach-swipe {
        padding: 185px 24px 24px;
    }

    .abtHdr-para {
        margin-bottom: 30px;
    }

    /* Rate Card Section */
    .card-line {
        width: 7px;
        height: 30px;
    }

    .rateCard-line {
        top: 122px;

    }

    .rateItem-list {
        font-size: 13px;
    }

    .membership-btn {
        font-size: 15px;
        padding: 13px 0;
    }

    .amount {
        font-size: 34px;
        margin-top: 50px !important;
    }

    .rate-item {
        margin-bottom: 50px;
    }

    /* Locaton Section */
    .cmn-para {
        font-size: 25px;
    }

    .contry-nmbr {
        font-size: 40px;
    }

    .cntry {
        font-size: 29px;
    }

    .loaction-cntn {
        padding-left: 0;
    }

    /* Transformation Section */
    .title-trnsfrm2 {
        font-size: 25px;
    }

    .title-trnsfrm {
        font-size: 16px;
    }

    .trnsfrm-para {
        font-size: 19px;
        background: white;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent;
    }

    .line-2 {
        bottom: 135px;
        left: 43%;
        width: 8px;
        height: 19px;
    }



    .body-builder {
        transform: translateX(50%) scale(1.2);
    }
}

@media screen and (max-width:425px) {

    /* Service Section */
    .trng-img {
        max-width: 121px;
    }

    /* Transformation Section */
    .title-trnsfrm2 {
        font-size: 25px;
    }

    .title-trnsfrm {
        font-size: 16px;
    }

    .trnsfrm-para {
        font-size: 19px;
    }

    .line-2 {
        bottom: 135px;
        left: 43%;
        width: 8px;
        height: 19px;
    }

    .trnsfrm-box {
        margin: 71px auto 0;
    }

    .body-builder {
        transform: translateX(50%) scale(2);
    }
}